<div id="index_container">
    <img src="/images/beer.png" class="img_beer" alt="img">
    <div id="links">
        <button>
            <a href="/beers">Beers </a>
        </button>
        <button>
            <a href="/random-beer">Random Beer</a>
        </button>
        
    </div>
</div>